 /* Some universal settings */
 
 body{
    line-height: 1.4;
    font-size: 16px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    background-color: lavender;
}

a{
    text-decoration: none;
    font-weight: bold;
}

p{
    margin: 5px;
}

h2, h3{
    margin: 0;
}
h3{
    padding-left: 5px;
}



/* The top nav bar */
.mobile-menu{
    padding-right: 25px;
    cursor: pointer;
    font-size: 1.5em;
    text-align:right;
    /* display:inline-block; */
    /* float:right; */
}

.bar {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
    
}

.mobile-menu_close{
    display:none;
    font-weight: bold;
}

.top-nav, .low-nav{
    width: 100%;
    position: fixed;
    top:0; left: 0;
    background: #223;
    color:white;
    opacity: .8;
}
/* .index .top-nav{
    display:none;
} */

/* .top-nav p a{
    color: white;
    float: right;
    padding-right: 15px;
} */

.index .top-nav ul{
    display:none;
}

.top-nav ul, .low-nav ul { 
    margin: 0 auto;
    padding: 0;
    width:100%;
    clear: right;   
}

.low-nav ul{
    display: flex; 
    justify-content: space-between; 
}

.top-nav li, .low-nav li{
    font-weight:bold;
    font-size: 1.5em;
    list-style-type: none;
    display: block;
    padding: 5px 25px;
    text-align: right;
}

.top-nav li a, .low-nav li a{
    color: white;
    transition: all 0.9s;
}
.top-nav li a:hover, .low-nav li a:hover{
    color: cyan;
}

.mobile-menu_close{
    display:none;
}

/* top */

.container{
    margin: 45px auto 0;
    clear:right;
}

header{
    background: #334;
    color: white;
    padding: 0 15px;
}

header h4{
    display:none;
}

header p{
    font-size: 1.1em;
    padding-bottom: 8px;
}

header a{
    color: cyan;
}

.divided-header h1{
    float:left;
    width:60%;
}

.divided-header h4{
    float:right;
    width:30%;
}
.divided-header p{
    clear:both;
}

.row{
    clear: both;
    overflow: auto;
    border: 1px solid #334;
}
.row>.col-3-3{
    color: lavender;
    background: #556;
}

section{
    padding: 5px;
}

.col-1-3{
    background-color:lavender;
    text-align: center;
}

.linked{
    transition: all 0.9s;
}
.linked:hover{
    /* transform: scale(1.1,1.1); */
    background: brown;
}

.linked a{
    transition: all 0.9s;
    text-decoration: none;
    color:blue;
}
.linked a:hover{
    color: cyan;
   
}

.footer .col{
    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;
    margin: 0 auto;
    cursor: pointer;
}


.wide{
    /* display:none; */
}

@media all and (min-width: 600px){
    .container{
        background: #334;
        padding: 8px;
        border-radius: 1%;
        max-width: 1000px;
        margin: 35px auto 0;
        clear: right;
    }
    header{
        padding: 0 15px;
    }

    header h4{
        display:block;
    }

    .wide{
        /* display:inline; */
    }
   
    /* This is for full display of nav */

    .index .top-nav ul{
        display:flex;
        
    }
    
    .top-nav ul, .low-nav ul{
    
        margin: 0 auto;
        padding: 0;
        width:100%;
        display: flex;
        justify-content: space-between;
          
    }
    .top-nav li, .low-nav li{
        font-weight:bold;
        font-size: 1em;
        list-style-type: none;
        display: inline-block;
        padding: 5px 2%;
    }

    .mobile-menu{
        display:none;
    }

    /* end full nav */

    .row{
        border: none;
        margin-top: 10px;
    }

    .index .row{
        display: flex;
        flex-wrap: no-wrap;  
    }

   .col{
       border-radius: 5px;
       padding: 5px;
       margin: 4px;
   }
    .col-1-3{
        float:left;
        width: 25%;
        margin-left: 2%;
    }

    .index .col-1-3{
        float:none;
        
    }

    .col-2-3{
        background-color:white; 
        float:right;
        width: 65%;
        margin-right: 2%;
        
    }

    .index .col-2-3{
        float:none;
        width: 68%;
    }
    
    index .col-3-3{
        width: 100%;
    }


}